/* Style fixes for IE8 */
.all-in-one-container .aino-container .address-near-you {
    margin-top: 0;
    width: 100%;
    height: 600px;
}
.all-in-one-container .aino-container .address-near-you .aino-address {
    float: right;
    width: 75%;
}
.all-in-one-container .aino-container .address-near-you .aino-title {
    float: right;
    width: 75%;
}
