<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Infomodus. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="Infomodus_Upsap" setup_version="2.3.8">
        <sequence>
            <module name="Infomodus_Upslabel"/>
        </sequence>
    </module>
</config>