.row {
    display: flex;
    flex-flow: row wrap;

    &.space-between {
        margin-left: -4px;
        margin-right: -4px;

        .full,
        .half,
        .third,
        .twothirds,
        .abstract {
            padding-left: 4px;
            padding-right: 4px;
        }
    }

    .full,
    .half,
    .third,
    .twothirds,
    .abstract {
        box-sizing: border-box;
        display: flex;

        img {
            display: block;
        }

        &.gutter-top {
            padding-top: 8px;
        }

        &.gutter-bottom {
            padding-bottom: 8px;
        }

        &.gutter-left {
            padding-left: 8px;
        }

        &.gutter-right {
            padding-right: 8px;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .row  {
        .full {
            flex-basis: 100%;
            width: 100%;
        }

        .half {
            flex-basis: 50%;
            width: 50%;
        }

        .third {
            flex-basis: 33.3333%;
            width: 33.3333%;
        }

        .twothirds {
            flex-basis: 66.6666%;
            width: 66.6666%;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .row  {
        .full,
        .half,
        .third,
        .twothirds,
        .abstract {
            flex-basis: 100%;
            width: 100%;
            justify-content: center;

            &.gutter-left {
                padding-left: 0;
            }

            &.gutter-right {
                padding-right: 0;
            }
        }
    }
}