.product-grid {
    display: flex;
    flex-flow: row wrap;
    margin-left: -4px;
    margin-right: -4px;
    margin-top: 0;
    margin-bottom: 0;

    .item {
        box-sizing: border-box;
        padding-left: 4px;
        padding-right: 4px;
        position: relative;
        margin-bottom: 16px;

        .product-image {
            display: block;
            width: 100%;
        }

        .actions-primary {
            position: relative;
        }

        .product-buy-options {
            opacity: 0;
            transition: all .2s ease-out;
            pointer-events: none;
            position: absolute;
            bottom: 100%;
            right: 0;

            .tocart.options {
                white-space: nowrap;
                width: 100%;
                box-shadow: none;
                border: 0;
                background: @color-brown;
                color: white;
                transition: all .2s ease-out;
                font-weight: 400;

                &:hover {
                    background: lighten(@color-brown, 5%);
                }

                &.disabled {
                    opacity: 1;
                    color: #aaa;
                }

                span {
                    font-size: 12px;
                }
            }
        }

        .product-buy-toggle {
            display: none;

            &:checked {
                & ~ .product-buy-options {
                    opacity: 1;
                    pointer-events: all;
                }
            }
        }

        .item-inner {
            transition: all .2s ease-out;
            height: 100%;
        }

        .item-details {
            position: absolute;
            left: 8px;
            right: 8px;
            bottom: 0px;
            padding: 8px;
            align-items: center;
            display: flex;

            h3, h4 {
                font-family: 'Oswald', sans-serif;
                color: #000;
            }

            a:hover {
                text-decoration: none;
            }

            h3 {
                margin: 0 0 4px 0;
                font-weight: 200;
                font-size: 15px;
            }

            h4 {
                margin: 0;
                font-weight: 600;
                text-transform: uppercase;
                font-size: 11px;
            }

            .product-name {
                flex-grow: 1;
            }

            .product-actions {
                display: flex;
                align-items: center;

                .action.tocart {
                    text-transform: uppercase;
                    font-family: 'Oswald', sans-serif;
                    padding: 7px 20px;
                    border-radius: 0;
                    font-weight: 400;
                }
            }

            .price-box {
                margin-right: 8px;
                font-family: 'Oswald', sans-serif;
            }
        }
    }
}

@media all and (min-width: 0px) {
    .product-grid {
        .item {
            width: 100%;
            flex-basis: 100%;
        }
    }
}

@media all and (min-width: 600px) {
    .product-grid {
        .item {
            width: 50%;
            flex-basis: 50%;
        }
    }
}

@media all and (min-width: 900px) {
    .product-grid {
        .item {
            width: 33.3333%;
            flex-basis: 33.3333%;
        }
    }
}