.filter {
    .block-subtitle {
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
    }

    .filter-options-title {
        font-family: 'Oswald', sans-serif;
        font-weight: 200;
    }

    .filter-options-content {
        .item {
            font-family: 'Oswald', sans-serif;
            font-weight: 200;
        }
    }
}

.block-wishlist {
    padding: 0 8px;

    .block-title strong {
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        font-size: 14px;
    }
}